os: unstable
cache:
  - node_modules
environment:
  GH_TOKEN:
      secure: 5fYUD16jk10uNHXSW4/JCDBqFWLueUfKP5b+WPUe3OCwLaB09tzlUhf8u4XpgrM1
  matrix:
    - nodejs_version: 10
install:
  - ps: Install-Product node $env:nodejs_version
  - set CI=true
  - yarn
matrix:
  fast_finish: true
build: off
version: '{build}'
shallow_clone: true
clone_depth: 1
test_script:
  - yarn dist 
